body {
    margin: 0;
    font-family: "Lucida Grande";
}

.heading {
    background-image: url(rumah.jpg);
    color: white;
    text-align: center;
    font-weight: bold;
    background-size: cover;
    padding-bottom: 140px;
    padding-top: 100px;
}

.header {
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.heading h1 {
    font-size: 70px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.heading h2 {
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.heading-form {
    padding: 25px 0;
    text-align: center;
}